*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

/* Fonts */

.plaster-regular {
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav{
    background-color: bisque;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav h1{
    font-family: "Plaster";
    font-size: 2.5rem;
    letter-spacing: -2px;
}

nav .nav-contents ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav .nav-contents ul li{
    list-style: none;
}

nav .nav-contents ul li a{
    text-decoration: none;
    cursor: pointer;
    font-family: "Comfortaa";
    font-weight: 900;
    font-size: 1.1rem;
    color: black;
}

.hero-section{
    width: 100%;
    height: 100vh;
    background-color: bisque;
    display: flex;
    align-items: center;
}

.hero-section .left{
    width: 40%;
    height: 100%;
    position: relative;
}

.hero-section .right{
    width: 60%;
    height: 100%;
    position: relative;
}

.hero-section .right .main-hero-block .text-box h1{
    font-family: "Plaster";
    text-align: center;
    font-size: 13rem;
    line-height: 155px;
}

.hero-section .left .text-box-down h1{
    font-family: "Plaster";
    text-align: center;
    font-size: 10rem;
    line-height: 120px;
}

.first-row{
    position: absolute;
    top: 2%;
    left: 0%;
    display: flex;
    flex-direction: column;
    background-image: url("https://freakins.com/cdn/shop/files/16july_19794-Edit.jpg?v=1721391718&width=800");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    letter-spacing: -15px;
}

.second-row {
    position: absolute;
    top: 2%;
    left: 35%;
    display: flex;
    flex-direction: column;
    letter-spacing: -15px;
    background-image: url("https://freakins.com/cdn/shop/files/DSC08030_1411f6b1-7db5-484a-b5cc-25a8ee9480b2.jpg?v=1719254956&width=800");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

.third-row {
    position: absolute;
    top: 50%;
    left: 10%;
    display: flex;
    flex-direction: column;
    letter-spacing: -10px;
    background-image: url("https://freakins.com/cdn/shop/files/Freakins15NOV1532.jpg?v=1732290612&width=800");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

.fourth-row {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    letter-spacing: -10px;
    background-image: url("https://freakins.com/cdn/shop/files/22April_3809-Edit.jpg?v=1713990446&width=800");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

.main-bold-text {
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: "Boldonse";
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 70px;
}

.cover-text{
    position: absolute;
    top: 60%;
    left: 10%;
    font-family: "Comfortaa";
    font-size: 1.5rem;
    max-width: 600px;
}

.neon-green{
    background-color: greenyellow;
    box-shadow: 1px 1px 1px black;
    border-radius: 2px;
}

.neon-orange{
    background-color: orange;
    box-shadow: 1px 1px 1px black;
    border-radius: 2px;
}

.shop-now{
    position: absolute;
    top: 32%;
    left: 10%;
    width: 200px;
    height: 50px;
    background-color: greenyellow;
    box-shadow: 2px 2px 1px black;
    text-shadow: 2px 2px 1px lightgray;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    font-family: "Boldonse";
    clip-path: polygon(0% 0%, 88% 0, 100% 50%, 88% 100%, 0% 100%);
}

.scroll-div{
    position: absolute;
    bottom: 16%;
    right: 0%;
}

.scroll-div img{
    width: 60%;
}

.clothing-gif{
    position: absolute;
    top: 20.5%;
    left: 10%;
    z-index: 10;
}

.clothing-gif img{
    width: 120%;
}

/* TABLET RESPONSIVE */

@media screen and (max-width:1200px) {
    nav h1{
        font-size: 2rem;
    }
    nav .nav-contents ul li a{
        font-size: .9rem;
    }

    .hero-section .right .main-hero-block .text-box h1{
        font-size: 10rem;
        line-height: 115px;
        letter-spacing: -12px;
    }

    .hero-section .left .text-box-down h1{
        font-size: 8rem;
        line-height: 95px;
        letter-spacing: -10px;
    }

    .first-row{
        top: 10%;
        left: 10%;
        /* background-image: url("https://freakins.com/cdn/shop/files/09-JUNE-PART-2_7826.jpg?v=1718295073&width=800"); */
    }
    .second-row{
        top: 10%;
        left: 45%;
        /* background-image: url("https://freakins.com/cdn/shop/files/TEST8652.jpg?v=1739437453&width=800"); */
    }
    /* .third-row{
        background-image: url("https://freakins.com/cdn/shop/files/ECOM02514.jpg?v=1701715783&width=800");
    }
    .fourth-row{
        background-image: url("https://freakins.com/cdn/shop/files/22April_5774-Edit.jpg?v=1714038043&width=800");
    } */

    .main-bold-text {
        font-size: 1.5rem;
        line-height: 50px;
    }
    .cover-text{
        top: 55%;
        left: 11%;
        font-size: 1.2rem;
        max-width: 550px;
    }

    .shop-now{
        top: 30%;
        left: 10%;
        width: 150px;
        height: 40px;
        font-size: 1rem;
    }

    .scroll-div{
        bottom: 21%;
        right: -5%;
    }

    .scroll-div img{
        width: 50%;
    }

    .clothing-gif {
        top: 23.5%;
        left: 35%;
    }
}